@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Admit App</h1>
    <p class="lead">Student Admit App Performs the Task of Doing Admission of Students with Link to their Respective Courses. </p>
    <p><a href="/Students" class="btn btn-primary btn-lg">Get Started</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Student Admin App is useful for Students Admission to Course for and Educational Institution / Training Programme. It's a simple, easy to operate and Mobile friendly web application. It has two modules Student Panel and Course Panel. Student Panel and Courses Panel are in one to many relationship. By One to Many Relationship ( 1: M ) we mean One Course can have Multiple students. This Web Application Consist of CRUD ( Create, Read, Update and Delete ) Data Record Operations for Courses and Students. Students Table is linked with Course Table Through "CourseId" Foreign Key in Students Table that Corresponds to Primary Key "ID" of Course Table.
        </p>
        <p><a class="btn btn-primary" href="https://github.com/harleensingh315/Assignment1-mvc-200349465" target="_blank">GitHub Link For Project Source Code </a></p>
    </div>

</div>
<div class="row">
    <div class="col-md-5 halfwidth-section">
        <h2>Students Panel</h2>
        <p>
            The Purpose of Student Panel is To Perform Manage Students. You Can Add a New Student
            / Edit Students Details / Delete A Student and Filter List of Available Student. A Clean, 
            User-friendly Panel for CRUD Operations is provided for Admission of Students with 
            selection of their Courses
        </p>
        <p><a class="btn btn-primary" href="/Students/">Students Panel</a></p>
    </div>
    <div class="col-md-5 halfwidth-section">
        <h2>Courses Panel</h2>
        <p>
            Courses Panel is Master Panel to Manage Courses. You can Add a New Course
            / Edit a Course Details / Delete a Course and Filter List of Course
            Available. A Clean, User-friendly Panel for CRUD Operations is provided
            To Manage Courses.
        </p>
        <p><a class="btn btn-primary" href="/Courses/">Courses Panel</a></p>
    </div>
    <div class="col-md-2">
       
    </div>
</div>

