@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Admit App</h1>
    <p class="lead">Student Admit App Performs the Task of Doing Admission of Students with Link to their Respective Courses. </p>
    <p><a href="/Students" class="btn btn-primary btn-lg">Get Started</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Students Panel</h2>
        <p>
            The Purpose of Student Panel is To Perform Manage Students. You Can Add a New Student
            / Edit Students Details / Delete A Student and Filter List of Available Student. A Clean, 
            User-friendly Panel for CRUD Operations is provided for Admission of Students with 
            selection of their Courses
        </p>
        <p><a class="btn btn-default" href="/Students/">Students Panel</a></p>
    </div>
    <div class="col-md-5">
        <h2>Courses Panel</h2>
        <p>
            Courses Panel is Master Panel to Manage Courses. You can Add a New Course
            / Edit a Course Details / Delete a Course and Filter List of Course
            Available. A Clean, User-friendly Panel for CRUD Operations is provided
            To Manage Courses.
        </p>
        <p><a class="btn btn-default" href="/Courses/">Courses Panel</a></p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>